/application/appsettings/uricomport=tmr:///dev/ttyUSB0
/application/appsettings/trigger=1
/application/appsettings/doorhandlergpipin=1
/application/appsettings/dooropengpopin=2
/application/appsettings/rfasyncontime=750
/application/appsettings/rfasyncofftime=250
/application/appsettings/missedtagwaitcycles=3
/application/appsettings/rfstats=disable
/application/appsettings/printtaglist=enable
/application/appsettings/printtagtimerinterval=5
/application/alerteventsettings/onaddedtag=addtagalert
/application/alerteventsettings/onmissedtag=missedtagalert
/application/alerteventsettings/ondeletetag=deletetagalert
/application/alerteventsettings/ondooropen=dooropenalert,dooropengpohigh
/application/alerteventsettings/ondoorclose=doorclosealert,doorclosegpolow
/application/exceptioneventsettings/onmissedtag=missedtagexception
/application/exceptioneventsettings/onduplicatetag=duplicatetagexception
/application/writeablereaderparams/LOADCONFIG=Linux/InventoryManagementAppDefault.config
/application/writeablereaderparams/SAVECONFIG=Linux/outInventoryManagementApp.config
/reader/read/asyncOnTime=750
/reader/read/asyncOffTime=250
/reader/gen2/accessPassword=00000000
/reader/transportTimeout=5000
/reader/commandTimeout=1000
/reader/baudRate=115200
/reader/probeBaudRates=[9600,115200,921600,19200,38400,57600,230400,460800]
/reader/antenna/txRxMap=[[1,1,1],[2,2,2],[3,3,3],[4,4,4]]
/reader/read/plan=SimpleReadPlan:[Antennas=[1,2,3,4],Protocol=GEN2,Filter=null,Op=null,UseFastSearch=False,Weight=1000]
/reader/radio/readPower=3000
/reader/radio/writePower=3000
/reader/radio/portReadPowerList=[[1,3000],[2,3000],[3,3000],[4,3000]]
/reader/radio/portWritePowerList=[[1,3000],[2,3000],[3,3000],[4,3000]]
/reader/gen2/BLF=LINK250KHZ
/reader/gen2/tari=TARI_25US
/reader/gen2/tagEncoding=M4
/reader/gen2/session=S0
/reader/gen2/target=A
/reader/gen2/q=DynamicQ
/reader/status/antennaEnable=False
/reader/status/frequencyEnable=False
/reader/status/temperatureEnable=False
/reader/regulatory/mode=TIMED
/reader/regulatory/modulation=CW
/reader/regulatory/onTime=500
/reader/regulatory/offTime=0
/reader/tagReadData/enableReadFilter=False
/reader/antenna/checkPort=False
/reader/tagReadData/recordHighestRssi=False
/reader/tagReadData/uniqueByData=False
/reader/tagReadData/uniqueByAntenna=True
/reader/tagReadData/reportRssiInDbm=True
/reader/tagReadData/uniqueByProtocol=False
